# Studio: Working with Databases in Python

For today's studio, we will be using the [TV Shows dataset](https://www.kaggle.com/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney) from Kaggle. We have already downloaded the CSV for you.

You will also be using the watchlist you just created to figure out which streaming services contain the shows that you want to watch next so you can decide which one is worth the money to you.

As you complete the different tasks in the studio, you may choose between using Pandas or SQL. Remember that during the prep work, we learned that one is oftentimes more efficient at certain tasks than the other, so choose wisely!

## My Watchlist

If you would like, please use this space to make note of your watchlist by editing the text cell.

Better Call Saul, Derry Girls, The Flight Attendant, Nashville, The Chosen, Fresh Off the Boat, Monk, Westworld, Ozark, Southland

## Database Setup

To start with, import the necessary libraries and create a dataframe from the provided CSV. Print the info out for the dataframe. After that, you may drop the column called `Unnamed: 0` and rename any columns with spaces in the names or unusual characters such as `"+"`. Print out the info for the dataframe again to ensure that your changes were effective.

In [1]:
import sqlite3 as sl
import pandas as pd

In [2]:
df = pd.read_csv('tv_shows.csv')
df.describe

<bound method NDFrame.describe of       Unnamed: 0    ID                                  Title  Year  Age  \
0              0     1                           Breaking Bad  2008  18+
1              1     2                        Stranger Things  2016  16+
2              2     3                        Attack on Titan  2013  18+
3              3     4                       Better Call Saul  2015  18+
4              4     5                                   Dark  2017  16+
...          ...   ...                                    ...   ...  ...
5363        5363  5713                       Paradise Islands  2017  NaN
5364        5364  5714                         Mexico Untamed  2018  NaN
5365        5365  5715                  Wild Centeral America  2020  NaN
5366        5366  5716                            Wild Russia  2018  NaN
5367        5367  5717  Fearless Adventures with Jack Randall  2018  NaN

        IMDb Rotten Tomatoes  Netflix  Hulu  Prime Video  Disney+  Type
0     9.4/10         100/100        1     0            0        0     1
1     8.7/10          96/100        1     0            0        0     1
2     9.0/10          95/100        1     1            0        0     1
3     8.8/10          94/100        1     0            0        0     1
4     8.8/10          93/100        1     0            0        0     1
...      ...             ...      ...   ...          ...      ...   ...
5363     NaN          10/100        0     0            0        1     1
5364     NaN          10/100        0     0            0        1     1
5365     NaN          10/100        0     0            0        1     1
5366     NaN          10/100        0     0            0        1     1
5367     NaN          10/100        0     0            0        1     1

[5368 rows x 12 columns]>

In [3]:
# Clean up column names and drop first column
df = df.drop('Unnamed: 0',1)
df = df.rename(columns = {"Rotten Tomatoes":"Rotten_Tomatoes", "Prime Video":"Prime_Video", "Disney+":"Disney_Plus"})
df.columns

C:\Users\Jessica\AppData\Local\Temp/ipykernel_20180/327991231.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df = df.drop('Unnamed: 0',1)

Index(['ID', 'Title', 'Year', 'Age', 'IMDb', 'Rotten_Tomatoes', 'Netflix',
       'Hulu', 'Prime_Video', 'Disney_Plus', 'Type'],
      dtype='object')

With your dataframe at the ready, create a new database called `tv`. Add a new table to your database called `shows` using the data in the dataframe.

In [7]:
con = sl.connect("tv.db")
df.to_sql("shows", con)

With your new table and database set up, print out the top 20 records in the `shows`Â table.

In [11]:
pd.read_sql_query('select * from shows limit 20', con)

,index,ID,Title,Year,Age,IMDb,Rotten_Tomatoes,Netflix,Hulu,Prime_Video,Disney_Plus,Type
0,0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1
5,5,6,Avatar: The Last Airbender,2005,7+,9.3/10,93/100,1,0,1,0,1
6,6,7,Peaky Blinders,2013,18+,8.8/10,93/100,1,0,0,0,1
7,7,8,The Walking Dead,2010,18+,8.2/10,93/100,1,0,0,0,1
8,8,9,Black Mirror,2011,18+,8.8/10,92/100,1,0,0,0,1
9,9,10,The Queen's Gambit,2020,18+,8.6/10,92/100,1,0,0,0,1
10,10,11,Mindhunter,2017,18+,8.6/10,90/100,1,0,0,0,1
11,11,12,Community,2009,7+,8.5/10,90/100,1,1,1,0,1
12,12,13,Narcos,2015,18+,8.8/10,90/100,1,0,0,0,1
13,13,14,Shameless,2011,18+,8.5/10,90/100,1,1,1,0,1
14,14,15,Money Heist,2017,18+,8.3/10,90/100,1,0,0,0,1
15,15,16,Marvel's Daredevil,2015,18+,8.6/10,90/100,1,0,0,0,1
16,16,17,Lucifer,2016,16+,8.1/10,90/100,1,0,0,0,1
17,17,18,Supernatural,2005,16+,8.4/10,89/100,1,0,0,0,1
18,18,19,The Witcher,2019,18+,8.2/10,89/100,1,0,0,0,1
19,19,20,Ozark,2017,18+,8.4/10,89/100,1,0,0,0,1

Now add a table that includes an id number and the titles on your watchlist.

In [16]:
with con:
    con.execute("""
        CREATE TABLE tv_watchlist (
            ID INT,
            TITLE TEXT
        );
    """)

In [17]:
sql = "INSERT INTO tv_watchlist (ID, title) values(?, ?)"
data = [
    (1,'Better Call Saul'), 
    (2,'Derry Girls'),
    (3,'The Flight Attendant'),
    (4,'Nashville'),
    (5,'The Chosen'), 
    (6,'Fresh Off the Boat'),
    (7,'Monk'), 
    (8,'Westworld'),
    (9,'Ozark'),
    (10,'Southland')
]
with con:
    con.executemany(sql, data)

In [18]:
with con:
    data = con.execute("SELECT * FROM tv_watchlist")
    for row in data:
        print(row)

(1, 'Better Call Saul')
(2, 'Derry Girls')
(3, 'The Flight Attendant')
(4, 'Nashville')
(5, 'The Chosen')
(6, 'Fresh Off the Boat')
(7, 'Monk')
(8, 'Westworld')
(9, 'Ozark')
(10, 'Southland')

## Working with the Data

Using either Pandas or SQL, determine how many shows are on each streaming service and what the mean is for each streaming service. 

**Note**: You may notice that the mean represents the percentage of shows in the dataframe that are on each streaming service. Take a moment to think about why that is.

In [20]:
service = pd.read_sql_query('SELECT Netflix, Hulu, Prime_Video, Disney_Plus FROM shows', con)
service.sum()

Netflix        1971
Hulu           1621
Prime_Video    1831
Disney_Plus     351
dtype: int64

In [21]:
service.mean()

Netflix        0.367176
Hulu           0.301975
Prime_Video    0.341095
Disney_Plus    0.065387
dtype: float64

Join your watchlist data with the shows data to determine which streaming services your watchlist shows are on and make a new table in your database using the joined data. Print out the data in your joined table to see what shows on your watchlist on in the original dataset. With the joined data, determine the percentage of your watchlist shows that are on each streaming service and how many of your watchlist shows are on each streaming service.

In [40]:
watchlist_shows = pd.read_sql_query("SELECT t1.Title, t1.Netflix, t1.Hulu, t1.Prime_Video, t1.Disney_Plus" 
                  " FROM shows t1"
                 " JOIN tv_watchlist t2 on t1.Title = t2.TITLE", con)
watchlist_shows.to_sql("watchshows", con)

ValueError: Table 'watchshows' already exists.

In [43]:
pd.read_sql_query('select * from watchshows', con)

   index               Title  Netflix  Hulu  Prime_Video  Disney_Plus
0      0    Better Call Saul        1     0            0            0
1      1               Ozark        1     0            0            0
2      2         Derry Girls        1     0            0            0
3      3  Fresh Off the Boat        0     1            0            0
4      4           Nashville        0     1            0            0
5      5                Monk        0     0            1            0

In [44]:
service_shows = pd.read_sql_query('SELECT Netflix, Hulu, Prime_Video, Disney_Plus FROM watchshows', con)
service_shows.sum()

Netflix        3
Hulu           2
Prime_Video    1
Disney_Plus    0
dtype: int64

In [45]:
service_shows.mean()

Netflix        0.500000
Hulu           0.333333
Prime_Video    0.166667
Disney_Plus    0.000000
dtype: float64

## Results

Now that you have done your analysis, make note of the answers to the following questions by editing the text cell:

1. Was every show on your watchlist in the Kaggle dataset? Do you have any ideas as to why a show might not have been present? No some were not in the Kaggle dataset. Some of them are on streaming services like HBO or Peacock.
2. Did you include a show or shows in your watchlist that is exclusive to one of the platforms? How might that have impacted your analysis? Yes, many of the shows are exclusive. This meant shows weren't showing up under multiple services.
2. Which streaming service(s) offered the most shows on your watchlist? Which streaming service(s) offered the least? Netflix offered the most and Disney+ offered the least.
3. Based on the shows you want to watch and the results of your analysis, is there a streaming service you think would be a good fit for you? Netflix would be a good fit.